<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Главная страница{% endblock %}</title>
    {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">
    {% endblock %}
</head>

<body>
<div class="container">
    {% include 'navbar.html' %}
    {% block body %}

        <div class="row">
            <div class="col">
                <h1> USERS List</h1>
                {% for user_id in users %}
                    <ul>
                        <li><a href="{{ url_for('user.get_user', pk=user_id) }}">{{ users[user_id] }}</a></li>
                    </ul>
                {% endfor %}
            </div>
            <div class="col">
                <h1>All articles</h1>
                {% for article_id in articles %}
                    <ul>
                        <li><a href="{{ url_for('article.article_details', article_id=article_id) }}">{{ articles[article_id] }}</a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% block js %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
    {% endblock %}
</div>
</body>
</html>