<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main_page.main') }}">Blog</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="{{ url_for('user.user_list') }}">Users</a>
                <a class="nav-link" aria-current="page" href="{{ url_for('article.articles_list') }}">Articles</a>
            </div>
        </div>
    </div>
</nav>