{% extends '/base.html' %}

{% block title %}All articles{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>All articles</h1>
            {% for article in all_articles %}
                <li>
                    <a href="{{ url_for('article.article_details', article_id=article.id) }}">{{ article.title }}</a>
                </li>
            {% endfor %}

            <a href="{{ url_for('article.create') }}">Create new</a>
        </div>
    </div>

{% endblock %}