{% extends '/base.html' %}

{% block title %}Users List {% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <h1> USERS List</h1>
            {% for user in users %}
                <ul>
                    <li>
                        <a href="{{ url_for('user.get_user', pk=user.id) }}">{{ user.username }}</a>
                        {% if user.is_staff %}
                            <span class="badge bg-secondary">staff</span>
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}